<div class="container">
    <!-- Left Section -->
    <div class="left-section">
      <!-- Logo Image -->
      <div class="logo-container">
        <img src="/assets/images/splash.jpg" alt="Company Logo" class="logo" />
        <h1># No.1 Platform</h1>
      </div>
      <h2>SHAPING THE FUTURE OF DEEP TECH INVESTMENTS</h2>
      <p>
        Solcon's deep tech strategy is guided by the firm's vision to deliver
        great returns to investors on a long-term basis.
      </p>
  
      <div class="stats">
        <div><strong>20</strong> <br />Years Experience</div>
        <div><strong>15</strong> <br />Our Team</div>
        <div><strong>19</strong> <br />Locations</div>
      </div>
  
      <a href="https://solconinfinity.com/" target="_blank">
        <button class="visit-btn">Visit Site →</button>
      </a>
    </div>
  
    <!-- Right Section (Login Card) -->
    <div class="login-card">
      <h2>Login Here</h2>
      <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
        <!-- Username Field -->
        <label class="Username-label">Username</label>
        <div class="input-group">
          <!-- <span class="icon">👤</span> -->
          <span class="icon material-icons">person</span>
          <input 
            type="email" 
            name="email" 
            [(ngModel)]="email" 
            #user="ngModel" 
            required 
          />
        </div>
        <!-- <div *ngIf="user.invalid && loginForm.submitted" class="error">
          * Username is required.
        </div> -->
  
        
        <!-- Password Field -->
<label class="password-label">Password</label>
<div class="input-group">
  <span class="icon">🔒</span>
  <input 
    [type]="showPassword ? 'text' : 'password'" 
    name="password" 
    [(ngModel)]="password" 
    #pass="ngModel" 
    required 
    minlength="1"
  />
  <span class="toggle-password" (click)="togglePassword()">
    <span class="material-icons">
      {{ showPassword ? 'visibility' : 'visibility_off' }}
    </span>
  </span>
</div>

        <!-- <div *ngIf="pass.invalid && loginForm.submitted" class="error">
          <span *ngIf="pass.errors?.['required']">* Password is required.</span>
          <span *ngIf="pass.errors?.['minlength']">* Password must be at least 6 characters.</span>
        </div> -->
        <button type="submit" class="login-btn" >Click to Login</button>
      </form>
    </div>
  </div>